@model AplicacionNETTBDEJ24.Models.Profesor

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que deseas eliminar?</h3>
<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sueldo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sueldo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grado)
        </dd>
    </dl>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="nuprof" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
